#plan {
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.porteSalleConf {
    transform-origin: 0px 116px;
}

.porteExterieur {
    transform-origin: 425px 1px;
}

.porteSalleDeBain {
    transform-origin: 406px 99px;
}

.porte {
    stroke: #000;
    stroke-miterlimit: 10;
    fill: #630;

}

.poigne {
    stroke: #000;
    stroke-miterlimit: 10;
    fill: #ff0;
}

.porteFrigoAnime {
    transform-origin: 150px 175px;
}

.porteFrigo {
    fill: #848e9a;
}

.poigneFrigo {
    fill: #5e6472;
}


.cls-1, .cls-22, .cls-31, .cls-35, .cls-4 {
    fill: #fff;
}

.cls-1, .cls-10, .cls-11, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-37, .cls-38, .cls-4, .cls-9 {
    stroke: #000;
}

.cls-1, .cls-10, .cls-11, .cls-16, .cls-18, .cls-20, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38, .cls-4, .cls-9 {
    stroke-miterlimit: 10;
}

.cls-2, .cls-33, .cls-34 {
    fill: none;
}

.cls-14, .cls-20, .cls-3 {
    fill: #630;
}

.cls-10, .cls-11, .cls-16, .cls-18, .cls-3, .cls-30, .cls-34, .cls-4, .cls-9 {
    stroke-width: 0.5px;
}

.cls-5 {
    fill: #f0b17e;
}

.cls-6 {
    fill: #fec189;
}

.cls-7 {
    fill: #2596f1;
}

.cls-8 {
    fill: #3b2621;
}

.cls-9 {
    fill: #c1272d;
}

.cls-10 {
    fill: #300;
}

.cls-11 {
    fill: #ff0;
}

.cls-12, .cls-29, .cls-32, .cls-37 {
    fill: #999;
}

.cls-13 {
    fill: #fc3;
}

.cls-15 {
    fill: #333;
}

.cls-16 {
    stroke: #666;
}

.cls-17 {
    fill: #ffc;
}

.cls-18 {
    fill: #ff9;
    stroke: #c90;
}

.cls-19 {
    fill: #c90;
}

.cls-20, .cls-35, .cls-36 {
    stroke: #333;
}

.cls-20, .cls-31, .cls-32, .cls-33, .cls-35, .cls-36 {
    stroke-width: 0.25px;
}

.cls-21, .cls-30, .cls-36 {
    fill: #ccc;
}

.cls-23 {
    fill: #666;
}

.cls-24 {
    fill: #5f6573;
}

.cls-25 {
    fill: #535667;
}

.cls-26 {
    fill: #848e9a;
}

.cls-27 {
    fill: #59606c;
}

.cls-28 {
    fill: #5e6472;
}

.cls-29 {
    stroke-width: 0.75px;
}