#plan{
    width: 75%;
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.porteSalleConf {
    transform-origin: 0px 116px;
}

.porteExterieur {
    transform-origin: 425px 1px;
}

.porteSalleDeBain {
    transform-origin: 406px 99px;
}

.porte {
    stroke: #000;
    stroke-miterlimit: 10;
    fill: #630;

}

.poigne {
    stroke: #000;
    stroke-miterlimit: 10;
    fill: #ff0;
}

.porteFrigoAnime {
    transform-origin: 150px 175px;
}

.porteFrigo {
    fill: #848e9a;
}

.poigneFrigo {
    fill: #5e6472;
}

.portePlacardFrigoBas{
    transform-origin: 178px 206px;
}

.portePlacardFrigoHautDroit{
    transform-origin: 210px 218px;
}

.portePlacardFrigoHautGauche{
    transform-origin: 170px 218px;
}

.portePlacardEvierBasGauche {
    transform-origin: 225px 110px;
}

.portePlacardEvierBasDroit {
    transform-origin: 225px 177px;
}

.portePlacardEvierHautGaucheGauche {
    transform-origin: 243px 127px;
}

.portePlacardEvierHautGaucheDroit {
    transform-origin: 243px 149px;
}

.portePlacardEvierHautDroitGauche {
    transform-origin: 243px 151px;
}

.portePlacardEvierHautDroitDroit {
    transform-origin: 243px 192px;
}

.portePlacard {
    fill: #fc3;
}

.poignePlacard {
    fill: #999;
}


.fondTiroir{
    stroke-miterlimit: 10;
    fill: #ff9;
    stroke: #c90;
}

.faceTiroir{
    fill: #c90;
}


.cls-22, .cls-31, .cls-35 {
    fill: #fff;
}

.cls-1, .cls-10, .cls-11, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-37, .cls-38, .cls-4, .cls-9 {
    stroke: #000;
}

.cls-1, .cls-10, .cls-11, .cls-16, .cls-18, .cls-20, .cls-29, .cls-3, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38, .cls-4, .cls-9 {
    stroke-miterlimit: 10;
}

.cls-33, .cls-34 {
    fill: none;
}

.cls-10, .cls-11, .cls-16, .cls-18, .cls-3, .cls-30, .cls-34, .cls-4, .cls-9 {
    stroke-width: 0.5px;
}

.cls-5 {
    fill: #f0b17e;
}

.cls-6 {
    fill: #fec189;
}

.cls-7 {
    fill: #2596f1;
}

.cls-8 {
    fill: #3b2621;
}

.cls-11 {
    fill: #ff0;
}

.cls-12, .cls-29, .cls-32, .cls-37 {
    fill: #999;
}

.cls-13 {
    fill: #fc3;
}

.cls-15 {
    fill: #333;
}

.cls-16 {
    stroke: #666;
}

.cls-18 {
    fill: #ff9;
    stroke: #c90;
}

.cls-19 {
    fill: #c90;
}

.cls-20, .cls-35, .cls-36 {
    stroke: #333;
}

.cls-20, .cls-31, .cls-32, .cls-33, .cls-35, .cls-36 {
    stroke-width: 0.25px;
}

.cls-21, .cls-30, .cls-36 {
    fill: #ccc;
}

.cls-23 {
    fill: #666;
}

.cls-24 {
    fill: #5f6573;
}

.cls-25 {
    fill: #535667;
}

.cls-26 {
    fill: #848e9a;
}

.cls-27 {
    fill: #59606c;
}

.cls-28 {
    fill: #5e6472;
}

.cls-29 {
    stroke-width: 0.75px;
}

html, body { height: 100%; }
body { background: #f2f2f2; }

.container { width: 300px; height: 20%; float : left; margin: 10px auto 0; }
.de .den, .de .dene, .de .denem, .de { position: absolute;  left: 50%; top: 50%; }
.de {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background-color: transparent;
}
.den {
    position: relative;
    width: 210px;
    height: 210px;
    margin: -105px 0 0 -105px;
    border-radius: 100%;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .5), 0 2px 20px rgba(255, 255, 255, 1);
    background: #df3341;
    background: -moz-linear-gradient(left, #df3341 0%, #d4f355 50%, #61c0ec 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#df3341), color-stop(50%,#d4f355), color-stop(100%,#61c0ec));
    background: -webkit-linear-gradient(left, #df3341 0%,#d4f355 50%,#61c0ec 100%);
    /*  Modification des couleurs possible ici  */
    background: linear-gradient(to right, #df3341 0%,#d4f355 50%,#61c0ec 100%);
    position:relative;
}
.dene {
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;
    border-radius: 100%;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}
.denem {
    width: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
    border-radius: 100%;
    background: #cbd5d6;
    background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd5d6), color-stop(100%, #f2f6f5));
    background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.deneme {
    position: absolute;
    left: 50%; top: 40%;
    padding: 3px 10px 0 10px;
    width: 120px;
    height: 137px;
    display: inline-block;
    margin: -70px 0 0 -70px;
    color: #555;
    text-shadow: 1px 1px 1px white;
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}
.deneme .decimal { font-size: 30px; font-weight: 200; }
.deneme .decimal:before { content: "."}

.deneme strong { position: absolute; right: 10px; top: 25px; font-size: 34px;}