/* ****************************************************************************************************************** */
/* *************************************************** STYLE ******************************************************** */
/* ****************************************************************************************************************** */

.bibliotequeChambre{
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

.lit {
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
}

.bordureBonhomme{
    stroke: #000;
    stroke-miterlimit: 10;
}

.corps{
    fill: #f0b17e;
}

.chemise {
    fill: #2596f1;
}

.cheveux {
    fill: #3b2621;
}

/* ****************************************************************************************************************** */
/* *************************************************** ANIMATION **************************************************** */
/* ****************************************************************************************************************** */

.bonhommeAnime{
    opacity:0;
}